<!DOCTYPE html>
<html lang="en">
    <head>
        <title>母猪行为监测平台</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../static/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="../static/css/fullcalendar.css" />
        <link rel="stylesheet" href="../static/css/matrix-style.css" />
        <link rel="stylesheet" href="../static/css/matrix-media.css" />
        <link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href='http://fonts.useso.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    </head>
<body>


<div style="padding: 20px;color: white">
  <h1>母猪行为监测平台</h1>
</div>

<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
  <ul>
    <li class="active"><a href="index.html"><i class="icon icon-home"></i> <span>实时行为数据流</span></a> </li>
    <li> <a href="calendar.html"><i class="icon icon-file"></i> <span>日历</span></a></li>
  </ul>
</div>

<div id="content">

  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box widget-calendar">
          <div class="widget-title"> <span class="icon"><i class="icon-calendar"></i></span>
            <h5>Calendar</h5>
            <div class="buttons"> <a id="add-event" data-toggle="modal" href="#modal-add-event" class="btn btn-inverse btn-mini"><i class="icon-plus icon-white"></i> Add new event</a>
              <div class="modal hide" id="modal-add-event">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h3>Add a new event</h3>
                </div>
                <div class="modal-body">
                  <p>Enter event name:</p>
                  <p>
                    <input id="event-name" type="text" />
                  </p>
                </div>
                <div class="modal-footer"> <a href="#" class="btn" data-dismiss="modal">Cancel</a> <a href="#" id="add-event-submit" class="btn btn-primary">Add event</a> </div>
              </div>
            </div>
          </div>
          <div class="widget-content">
            <div class="panel-left">
              <div id="fullcalendar"></div>
            </div>
            <div id="external-events" class="panel-right">
              <div class="panel-title">
                <h5>Drag Events to the calander</h5>
              </div>
              <div class="panel-content">
                <div class="external-event ui-draggable label label-inverse">My Event 1</div>
                <div class="external-event ui-draggable label label-inverse">My Event 2</div>
                <div class="external-event ui-draggable label label-inverse">My Event 3</div>
                <div class="external-event ui-draggable label label-inverse">My Event 4</div>
                <div class="external-event ui-draggable label label-inverse">My Event 5</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--end-Footer-part-->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery.ui.custom.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/fullcalendar.min.js"></script>
<script src="../static/js/matrix.js"></script>
<script src="../static/js/matrix.calendar.js"></script>
</body>
</html>
